
@font-face {
  font-family: "AvenirNext";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("//static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Regular.woff2") format("woff2"),url("//static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Regular.woff") format("woff")
}

@font-face {
  font-family: "AvenirNext";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: url("//static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Medium.woff2") format("woff2"),url("//static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Medium.woff") format("woff")
}

@font-face {
  font-family: "AvenirNext";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: url("//static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Demi.woff2") format("woff2"),url("//static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Demi.woff") format("woff")
}

@font-face {
  font-family: "AvenirNext";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url("//static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Bold.woff2") format("woff2"),url("//static.hsappstatic.net/ui-fonts/static-1.223/fonts/AvenirNext-Bold.woff") format("woff")
}
