$text-color: #33475b;
$text-color-hover: #007a8c;
$accent-color: #ff7a59;
$bg-color: #f5f8fa;

$border-color: $text-color;

$navbar-secondary-height: 52.8px;
$navbar-primary-height: 80px;

$base-font-size: 16px;
$base-padding: 16px;
$base-transition: 0.25s;
$base-border-radius: 3px;

$btn-padding-x: $base-padding * 1.4;
$btn-padding-y: $base-padding * .6;

$columns: 12;
